.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7%;
    padding: 10px 15px;
}

.header-title {
    width: auto;
    height: auto;
    font-size: 28px;
    font-weight: bold;
    color: azure;
}