.guide-body-container {
    height: 85%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.button-container {
    width: 25%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #AEFFD8;
    align-items: center;
    justify-content: center;
}

  .buttonView {
    background-color: #AEFFD8;
    font-weight: lighter;
    color: #464646;
    width: 100%;
    padding: 10px;
    margin: 20px 20px 20px 0;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #464646;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .buttonView:hover {
    background-color: #464646;
    color: #AEFFD8;
    border-color: #AEFFD8;
  }