/* Goals View */

.main-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    background: #2e2e2e;
    border-radius: 10px;
    /*border: 2px dashed darkorange;*/
}