/* goals-view.js */

.goals-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 97%;
    height: 500px;
    /*
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    */
}