.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    margin: 22px 0 0 22px;
}

.header-title {
    width: 95%;
    height: auto;
    font-size: 34px;
    font-weight: bold;
    color: azure;
}

.plus-button {
    width: 5%;
    height: auto;
    margin-right: 28px;
}