/* Tab button Styling */

/* TAB HEADERS */
.tab {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #696969;
    margin: 0 23px;
    cursor: pointer;
}

.active,
.tab.active:hover {
    color: white;
}

.tab:hover {
    color: #969696;
}