/* ListItem styles */

.item-container {
    display: flex;
    height: 10%;
    margin: 0.8em;
    padding: 0;
    /*background: #4e4e4e;*/
    /*border: 2px dashed red;*/
    /*border-radius: 4px;*/
}

.checkbox-container {
    display: flex;
    align-items: center;
    padding: 0 1.2em;
    border-radius: 4px 0 0 4px;
    background: #5b5b5b;
    /*border: 1px dashed #d0ff00;*/
}

.checkbox-container-active {
    display: flex;
    align-items: center;
    padding: 0 1.2em;
    border-radius: 4px 0 0 4px;
    background: #76ff8f;
    /*border: 1px dashed #d0ff00;*/
}

.checkbox {
    /*flex: 1;*/
    height: 28%;
    border: none;
    background: #b1b1b1;
    cursor: pointer;
    border: none;
}

.checkbox:hover {
    background: #ccc;
}

.checkbox.active {
    background: #63ae71;
}

.item-input-container {
    flex: 1;
    display: flex;
    background: #3d3d3d;
    /*border: 1px dashed #00b7ff;*/
}

.item-text {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: white;
}

.item-input {
    flex: 1;
    padding: 1em;
    border: none;
    background: #222;
    color: white;
    font-size: 16px;
}

.item-input:disabled {
    background: #3d3d3d;
    color: white;
}

.item-input:focus {
    /* No default style */
    outline: none;

}

.edit-btn-container {
    /*flex: 1;*/
    display: flex;
    /*border: 1px dashed #e6e6e6;*/
}

.delete-btn-container {
    /*flex: 1;*/
    display: flex;
    border-radius: 0 4px 4px 0;
    /*border: 1px dashed #e6e6e6;*/
}

.edit-btn {
    border: none;
    background: #ffa360;
}

.save-btn {
    border: none;
    background: #62ff84;
}

.cancel-btn {
    border: none;
    border-radius: 0 4px 4px 0;
    background: #ff7c54;
}

.del-btn {
    border: none;
    border-radius: 0 4px 4px 0;
    background: #ff3434;
}