/* ListItem styles */

.item-container {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 40px;
    align-items: center;
    margin-top: 12px;
    background: #4e4e4e;
    border-radius: 20px;
}

.text-container {
    display: flex;
    width: 78%;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    /*border: 1px dashed #e6e6e6;*/
}

.check-btn-container {
    display: flex;
    width: 5%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*border: 1px dashed #e6e6e6;*/
}

.edit-btn-container {
    display: flex;
    width: 9%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*border: 1px dashed #e6e6e6;*/
}

.delete-btn-container {
    display: flex;
    width: 9%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*border: 1px dashed #e6e6e6;*/
}

.check-btn {
    border: none;
    width: 14px;
    height: 14px;
    border-radius: 20px;
}

.edit-btn {
    border: none;
    width: 72px;
    height: 32px;
    border-radius: 20px;
    background: #ff7f44;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.del-btn {
    border: none;
    width: 72px;
    height: 32px;
    border-radius: 20px;
    background: #ff4a44;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.btn {
    cursor: pointer;
}