.filterTab {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #696969;
    margin: 0 23px;
    cursor: pointer;

    &.active,
    &.active:hover {
        color: white;
    }

    &:hover {
        color: #969696;
    }
}