.listToolbar {
    display: flex;
    /*gap: 14em;*/
    /*justify-content: space-between;*/
    margin: 1em 0 0.4em 0;
    /*border: 1px dashed red;*/

    &__filterTabs {
        flex: 2;
        display: flex;
        align-items: center;
        /*justify-self: flex-start;*/
        gap: 0.4em;
        padding-left: 1em;
        /*border: 1px dashed violet;*/
    }
}

.listContainer {
    flex: 1;
    display: flex;
    padding: 0.2em 1em 1.2em 1em;
    overflow: hidden;
    // border: 1px dashed red;
}