/* src/styles/loginPage.css */

/* General styling */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background: #b6dbca;
  margin: 0;
  padding: 0;
}

/* Styling for the card component */
.login-card {
  display: flex;
  justify-content: center stretch;
  align-items: center;
  width: 360px;
  height: 420px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  border-radius: 20px;
}

.login-logo {
  padding-top: 0px;
}

.login-img {
  width: 60px;
  height: 60px;
}

.app-title {
  font-size: 1.5em;
  color: #7FFCC0;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 0;
}

.form-group-login {
  margin-bottom: 15px;
  align-self: center;
  text-align: center;
  align-items: space-between;
}

.input-login {
  width: 235px;
  height: 20px;
  margin: 6px 0;
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid rgba(29, 255, 193, 0.45);
  background: #FFF;
}

.input-login::placeholder {
  font-weight: bold;
  opacity: 1;
  color: #B2FEE9;
}

.forgot-password a {
  font-size: 0.7em;
  margin-bottom: 15px;
  text-decoration: underline;
  color: #7FFCC0;
}

.login-button {
  width: 175px;
  height: 35px;
  margin-top: 18px;
  flex-shrink: 0;
  color: #fff;
  border: none;
  border-radius: 20px;
  background: linear-gradient(271deg, #1AFFC8 -3.44%, #00FF85 100%);
  cursor: pointer;
}

.login-button:hover {
  background: #0056b3;
}

.new-to-life-masters {
  font-size: 0.75em;
  margin-top: 35px;
  color: #7FFCC0;
}

.underline {
  text-decoration: underline;
  color: #7FFCC0;
  cursor: pointer;
}