/* src/styles/registerPage.css */

/* General styling */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background: #b6dbca;
  margin: 0;
  padding: 0;
}

/* Styling for the card component */
.register-card {
  display: flex;
  justify-content: center stretch;
  align-items: center;
  width: 360px;
  height: 420px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  border-radius: 20px;
}

.register-img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.form-title {
  font-size: 1em;
  color: #7FFCC0;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 0;
}

.form-group-register {
  margin-bottom: 15px;
  align-self: center;
  text-align: center;
  align-items: space-between;
}

/* Global input styling in -> loginPage.css
.input-register {
  width: 235px;
  height: 20px;
  margin: 6px 0;
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid rgba(29, 255, 193, 0.45);
  background: #FFF;
}

.input-register::placeholder {
  font-weight: bold;
  opacity: 1;
  color: #B2FEE9;
}
*/

.register-button {
  width: 175px;
  height: 35px;
  margin-top: 18px;
  flex-shrink: 0;
  color: #fff;
  border: none;
  border-radius: 20px;
  background: linear-gradient(271deg, #1AFFC8 -3.44%, #00FF85 100%);
  cursor: pointer;
}

.register-button:hover {
  background: #0beb82;
}

.already-have-account {
  font-size: 0.75em;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #30FFC1;
}

.underline {
  text-decoration: underline;
  color: #30FFC1;
  cursor: pointer;
}